.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #d5f3fe;
    height: 600px;
  }
  
  .flex-container > div {
    
    flex: 25%;
    background-color: white;
    width: fit-content;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    font-size: 20px;
  }

  .about-title{
      text-align: center;
      margin-top: 50px;
      animation-name:title;
      animation-duration: 4s;
  }
  @keyframes title{
      from{color: skyblue;}
      to{color: black;}
  }

  @media (max-width:750px){
      .flex-container > div{
          flex: 50%;
      }
  }
