* {
    box-sizing: border-box;
  }

  body{
    background-color: #ECECEC;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .form-title{
    text-align: center;
  }

  h3, h5{
      text-align: center;
      animation-name:subtitlecolor;
    animation-duration:4s;
    animation-fill-mode: forwards;
  }

  @keyframes subtitlecolor{
    from{color:#d5f3fe}
    to{color:black}
  }
  
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }
  
  .container-1 {
    border-radius: 5px;
    background-color: #d5f3fe;
    padding: 20px;
    margin: 50px;
    margin-top: 65px;
    animation-name: shadow;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes shadow{
    from{box-shadow: none;}
    to{box-shadow: 15px 15px skyblue, -15px -15px skyblue;}
  }
  
  .col-label {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-input {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media (max-width: 768px) {
    .col-label, .col-input, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  @media (min-width: 990){
      .container-1{
          padding: 20px;
      }
  }